.dimmer {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    /* z-index: -999999; */
  }
  
  .modal{
    position: fixed;
    z-index: 9999999;
    
  }
  
  .modalbody {
    background-color: white;
    padding: 50px;
    color: black;
    border-radius: 20px;
  }