.dimmer {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 9;
}

.modal{
  position: fixed;
}

.modalbody {
  background-color: white;
  padding: 50px;
  color: black;
  border-radius: 20px;
}
